.memproto, dl.reflist dt {
		border-top: 1px solid #B8B8B8;
        border-left: 1px solid #B8B8B8;
        border-right: 1px solid #B8B8B8;
        padding: 6px 0px 6px 0px;
        color: #000000;
        font-weight: bold;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
        background-image:none;
        background-repeat:repeat-x;
        background-color: #e5e5e5;
        /* opera specific markup */
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        /* firefox specific markup */
        -moz-box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 5px;
        -moz-border-radius-topright: 0px;
        -moz-border-radius-topleft: 0px;
        /* webkit specific markup */
        -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
        -webkit-border-top-right-radius: 0px;
        -webkit-border-top-left-radius: 0px;
		
}

div.image img[src="df2.png"]
{ 
    width:1200px; 
}

.memdoc, dl.reflist dd {
        border-bottom: 1px solid #B8B8B8;      
        border-left: 1px solid #B8B8B8;      
        border-right: 1px solid #B8B8B8;      
        padding: 6px 10px 2px 10px;
        background-color: #FDF0F0;
        border-top-width: 0;
        background-image:url('nav_g.png');
        background-repeat:repeat-x;
        background-color: #FFFFFF;
		border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
        /* firefox specific markup */
        -moz-border-radius-bottomleft: 0px;
        -moz-border-radius-bottomright: 0px;
        -moz-box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 5px;
        /* webkit specific markup */
        -webkit-border-bottom-left-radius: 0px;
        -webkit-border-bottom-right-radius: 0px;
        -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

span.mlabel {
        background-color: #925050;
        border-top:1px solid #5373B4;
        border-left:1px solid #5373B4;
        border-right:1px solid #C4CFE5;
        border-bottom:1px solid #C4CFE5;
	text-shadow: none;
	color: white;
	margin-right: 4px;
	padding: 2px 3px;
	border-radius: 3px;
	font-size: 7pt;
	white-space: nowrap;
	vertical-align: middle;
}

.tabs, .tabs2, .tabs3 {
    background-image: none;
    width: 100%;
    z-index: 101;
    font-size: 13px;
    font-family: 'Lucida Grande',Geneva,Helvetica,Arial,sans-serif;
}

.tabs2 {
    font-size: 10px;
}
.tabs3 {
    font-size: 9px;
}

.tablist {
    margin: 0;
    padding: 0;
    display: table;
}

.tablist li {
    float: left;
    display: table-cell;
    background-image: none;
    line-height: 36px;
    list-style: none;
}

.tablist a {
    display: block;
    padding: 0 20px;
    font-weight: bold;
    background-image:none;
	background-color: #e5e5e5;
    background-repeat:no-repeat;
    background-position:right;
    color: #762124;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    outline: 0px;
	border-color: #762124;
	border: 1px;
	border-top-style: solid;
}

.tabs3 .tablist a {
    padding: 0 10px;
}

.tablist a:hover {
    background-image: none;
    background-repeat:repeat-x;
	background-color: #762124;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
    text-decoration: none;
	border-color: #762124;
	border: 1px;
	border-top-style: solid;
	border-top-color: #762124;
}

.tablist li.current a {
	background-color: #762124;
    background-image: none;
    background-repeat:repeat-x;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
	border-color: #762124;
	border: 1px;
	border-top-style: solid;
	border-top-color: #762124;
}

#titlearea
{
	padding: 0px;
	margin: 0px;
	width: 100%;
	border-bottom: 1px solid #762124;
	background-color: #762124;
	color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	color: #762124;
}

.title {
color: #762124;
}

.directory td.entry a {
        outline:none;
		color: #762124;
}

.icon {
    background-color: #707070;
    color: white;
    text-align: center;
    border-radius: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

a {
	color: #762124;
}

body
{
	width: 1200px;
	margin: auto;
}

.contents a:visited {
	color: #762124;
}

.paramname {
	color: #707070;
}

.memtemplate {
	font-size: 80%;
	color: #404040;
	font-weight: normal;
	margin-left: 9px;
}

h2.groupheader {
	border-bottom: 1px solid #762124;
	color: #404040;
	font-size: 150%;
	font-weight: normal;
	margin-top: 1.75em;
	padding-top: 8px;
	padding-bottom: 4px;
	width: 100%;
}

.navpath ul
{
	font-size: 11px;
	background-image:none;
	background-repeat:repeat-x;
	background-position: 0 -5px;
	height:30px;
	line-height:30px;
	color:#A0A0A0;
	border:solid 1px #000000;
	overflow:hidden;
	margin:0px;
	padding:0px;
}

.navpath li
{
	list-style-type:none;
	float:left;
	padding-left:10px;
	padding-right:15px;
	background-image:url('../images/rarrow.png');
	background-repeat:no-repeat;
	background-position:right;
	color:#364D7C;
}

.navpath li.navelem a
{
	height:32px;
	display:block;
	text-decoration: none;
	outline: none;
	color: #283A5D;
	font-family: 'Lucida Grande',Geneva,Helvetica,Arial,sans-serif;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.9);
	text-decoration: none;        
}

.navpath li.navelem a:hover
{
	color:#6884BD;
}

a {
	color: #762124;
}

a:hover {
	color: #cd5959;
}

.navpath li.navelem a:hover
{
	color: #cd5959;
}

.navpath li.navelem a
{
	color: #762124;
}

.memSeparator {
        border-bottom: 1px solid #e5e5e5;
        line-height: 1px;
        margin: 0px;
        padding: 0px;
}

